

    <header class="masthead" style="background-image: url('/img/HuecoTanks.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Hi, friends! My name is David Etzel. I am a budding web developer with a passion for rock climbing, mountain biking, and terrible puns.</p>
        </div>
    </div>
</div>

